:root 
{
	--highlight-color: rgb(200, 200, 200);
    --link-color: red;
    --link-hover-color: blue;
	background-color: #4C4C47
}

a 
{
}

a:hover{
}

html {
	color: #B5B9BF;
	overflow-x: hidden;
}

@media all and (min-width: 25em)
{
html{font-size:calc(0.8999rem + 0.4000vw);}
}

@media all and (min-width: 50em)
{
html{font-size:1.10rem;}
}

@font-face
{
    font-family: 'Header';
    src: url('./RedHatDisplay-Regular.ttf') format('truetype');
}

@font-face
{
    font-family: 'Title';
    src: url('./RedHatText-Bold') format('truetype');
}

@font-face
{
    font-family: 'Body';
	src: url('./SourceSerifPro-Regular.ttf') format('truetype');
}

@font-face
{
    font-family: 'Mono';
	src: url('./liberation-mono.ttf') format('truetype');
}

*
{
    padding: 0;
    margin: 0;
}

body
{
    font-family: 'Body';
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
	padding: 0;
}

h1
{
    padding-top: 0em;
    color: #B5B9BF;
    padding-left: 1%;
    padding-right: 7%;
    font-family: 'Title';
    text-transform: uppercase;
    font-size: 1.5em;
}

h2
{
    color: #B5B9BF;
    padding-left: 1%;
    padding-right: 7%;
	padding-bottom: 1em;
    font-family: 'Title';
    font-size: 1.2em;
}

p
{
	font-size: 1.2em;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 2%;
    padding-right: 7%;
}

pre
{
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Mono';
	white-space: pre-wrap;
}

hr
{
	padding-top: 2em;
	margin-bottom: 1em;
	border: none;
	border-bottom: 2px solid;
	height: 1px;
	width: 90%;
	color: #b5b9bf7d;
}

::selection
{
	background: var(--highlight-color);
	color: #ffffff;
}

::-moz-selection
{
	background: var(--highlight-color);
	color: #ffffff;
}

.link
{
	color: inherit;
    text-decoration: underline;
    text-decoration-color: var(--link-color);
}

.link:hover
{
    text-decoration: underline;
    text-decoration-color: var(--link-hover-color);
}

.standalone_link_container
{
	color: var(--highlight-color);
	text-decoration: none;
	margin-left: 5%;
	padding-bottom: 1.5em;
}


.page_content
{
    max-width: 67rem;
    margin-left: auto;
    margin-right: auto;
    background-color: --background-color;
    padding-bottom: 3em;
	padding-left: 5%;
}

.header_background
{
	flex: none;
	margin: 0 auto;
	background-color: #2D2D2A;
}


.header_title
{
    font-family: 'Header';
    font-size: 3vw;
    text-transform: uppercase;
    display: inline-block;
	padding-bottom: 0.4rem;
	color: #B5B9BF;
	border-bottom: 3px solid transparent;
    text-decoration: none;
}


.header_table
{
	table-layout: fixed;
    width: 100%;
    text-align: center;
    color: #878787;
}

.header_link
{
	vertical-align: middle;
    font-family: 'Header';
    font-size: 2vw;
    color: #B5B9BF;
    text-decoration: none;
    margin-left:0.5em;
    margin-right:0.5em;
	line-height: 0;
	vertical-align: middle;
	border-bottom: 3px solid transparent;
}

.header_link:hover
{
    border-bottom: 2px solid;
}
 
.header_links
{
	margin: 0 auto;
    max-width: 35.000000rem;
	padding-bottom: 0.5rem;
}

.header_image_container
{
  width: 101vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -53vw;
  margin-right: -50vw;
  padding-bottom: 1.5rem;
}

.header_image
{   
    background-repeat: no-repeat;
    background-size: cover;
	background-position-x: center;
    background-position-y: center;
    border-style: solid;
    border-width: 5px 0px 5px 0px;
    height: 10vw;
	max-height: 9rem;
	min-height: 8rem;
    position: relative;
    overflow: hidden;
}

.footer
{
    color: #232323;
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
	padding-right: 4em;
    padding-top: 1em;
    padding-bottom:4em;
    text-align: right;
}

.video_div{
    position: relative;
    padding-bottom: 48.25%;
    padding-top: 25px;
	max-width: 90%;
    height: 0;
}


iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.code
{
    margin-left: auto;
    margin-right: 5%;
	margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #1e1e1e;
    color: #ba8e4c;
    font-family: 'Mono';
	overflow: auto;
	font-size: 1em;
}

.code_text
{
	font-family: 'Mono';
}

.image_container
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
	display: block;
}

.thumbnail_image_container
{
    display: inline-block;
	padding-right: 5%
}

.thumbnail_image
{
	width: 31%;
	overflow: hidden;
	margin-right: 0.5em;
	margin-bottom: 0.2em;
	opacity: 0.8;
	transition: opacity 0.1s ease;
	border-radius: 4px;
}

.thumbnail_image:hover
{
	opacity: 1;
	transition: opacity 0.1s ease;
}

.image
{
    max-width: 60%;
	border-radius: 2px;
}

.separator
{
    position: relative;
    max-width: 5rem;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: -1px;
}

.separator::before
{
   position: absolute;
   content: "";
   width: 100%;
   height: 100%;
}

.separator::after
{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
}

.feature_button_div
{
	background-color: blue;
	height: 16rem;
    max-height: 16rem;
    min-height: 16rem;
    margin-right: 5%;
    position: relative;
    overflow: hidden;
}

.feature_button_div:hover
{
	box-shadow: 2px 2px 2px grey;
}

.feature_button_image
{
	border: 2px solid #9E90A2;
    background-repeat: no-repeat;
    background-size: cover;
	height: auto;
	min-height: 8rem;
	opacity: 1;
	transition: opacity 0.1s ease;
	background-position-x: center;
    background-position-y: center;
}

.feature_button_image:hover
{
	opacity: 0.8;
	transition: opacity 0.1s ease;
	border: 2px solid #B6C2D9;
}

.feature_button_title {
	font-size: 1.5rem;
    line-height: 1.3;
}

.feature_button_description {
	font-style: italic;
    color: #b5b9bf7d;
	padding-bottom:1.5rem;
}

.lister_description
{
	padding: 0rem;
}

.lister_title
{
	padding: 0rem;
}

.monospace
{
	font-weight: bold;
	font-family: 'Mono';
}

@media screen and (min-width: 1200px) {
  .header_title {
     font-size: 36px;
  }
  .header_link {
     font-size: 24px;
  }
  .feature_button_text {
	 font-size: 24px;
  }
  .feature_button_description {
	 font-size: 20px;
  }
}

@media screen and (max-width: 700px) {
  .header_title {
     font-size: 20px;
  }
  .header_link {
     font-size: 14px;
  }
  .feature_button_text {
	 font-size: 14px;
  }
  .feature_button_description {
	 font-size: 12px;
  }
}